<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full min-h-screen flex items-center justify-center">
    <form action="/messenger_profile" method="post">
      <button class="px-4 py-2 rounded bg-blue-500 text-white">Config</button>
    </form>
  </div>
</body>
</html>